# Python
venv/
.venv/
env_faceid/
__pycache__/
*.py[cod]

# Modelos (No queremos subir gigas de pesos de PyTorch al inicio)
*.pth
*.pt
shared/*.pth

# Flutter
.dart_tool/
build/
.packages

# OS
.DS_Store
Thumbs.db